@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// 共通

body {
  padding-top: 60px;
  background-color: #f8faf7;
}

a {
  color: black;
}

.show-in-device {
  display: none;
}

.btn {
  background-color: #ff8c00;
  height: 30px;
  font-weight: bold;
  color: black;
  a {
    color: black;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
  }
  &:hover {
    background-color: rgba(237, 109, 53, 0.9);
  }
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.main {
  width: 100%;
}

.clear {
  clear: left;
}

.pagination {
  margin-left: 20px;
}

// flashメッセージ
.notice, .alert {
  padding: 0px;
  margin: 0 100px;
  color: #ed6d35;
  font-weight: bold;
}

.notice {
  padding-top: 2px;
}

// デバッグ
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


// header
header {
  font-size: 18px;
  height: 60px;
  color: white;
  background-color: #ed6d35;
  box-shadow: 0 0 5px 1px #ed6d35;
  line-height: 60px;
  .container {
    height: 60px;
  }
  .account-menu {
    display: none;
  }
  #logo {
    float: left;
  }
  .user-name {
    margin-left: 50px;
    margin-right: 5px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .navber-right {
    float: right;
  }
  .navbar-nav {
    height: 60px;
    li {
      a {
        font-size: 14px;
        color: white;
        padding: 0 15px;
        margin: 10px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;

        transition: 0.20s;
        &:hover {
          font-weight: bold;
          background-color: #ffdab9;
          color: #ed6d35;
          box-shadow: inset 0 0 5px 2px #ed6d35;
        }
      }
      .dropdown-toggle {
        background-color: #ed6d35;
        &:focus {
          background-color: #ffdab9;
          color: black;
        }
      }
      .dropdown, .dropdown-menu {
        .dropdown-link {
          color: black;
          &:hover {
            background-color: white;
          }
        }
      }
      .dropdown-menu {
        line-height: 30px;
        li {
          margin: 15px 0;
          a {
            font-size: 14px;
            font-weight: normal;
            padding-left: 15px;
            line-height: 30px;
            &:hover {
              box-shadow: none;
            }
          }
          .dropdown-menu-list {
            padding-left: 15px;
          }
          .divider {
            height: 1px;
          }
        }
      }
    }
  }
}

// footer
footer {
  height: 200px;
  margin-top: 45px;
  padding-top: 45px;
  text-align: center;
  border-top: 1px solid #eaeaea;
  color: #777;
}

// トップページ
.welcome {
  width: 100%;
  height: 500px;
  background-image: image-url("q&a_app.jpg");
  background-size: cover;
  opacity: 0.7;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  p {
    display: inline-block;
    margin-top: 130px;
    padding: 0 30px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: inset 10px rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    font-family: 'Kreon';
  }
  .btn-signup {
    height: 60px;
    margin-top: 165px;
    padding: 15px 25px;;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, .7);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
}

.topic-question {
  height: 300px;
  margin-top: 30px;
  margin-left: 100px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  display: block;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: 0.15s;
  .topic-question:hover {
  opacity: 0.85;
  }
  .topic-image {
    float: left;
    width: 60%;
    height: 100%;
  }
  .topic-content {
    float: right;
    width: 40%;
    height: 100%;
    border-left: 1px solid #ccc;
    text-align: center;
    color: #ed6d35;
    .topic-title {
      padding: 50px 0;
      letter-spacing: 1px;
    }
    .topic-text {
      font-size: 24px;
      margin-top: 20px;
    }
  }
}



// 質問一覧ページ
.questions {
  margin-top: 30px;
  margin-left: 100px;
  background-color: white;
  .questions-title {
     padding: 16px;
     a {
       color: #ff8c00;
     }
   }
  .question-link {
    font-weight: bold;
    color: black;
    font-size: 17px;
    &:hover {
      color: black;
    }
  }
  .question {
    height: 83px;
    padding: 16px;
    border-top: 1px solid #eaeaea;
    .question-left {
      display: inline-block;
      float: left;
      width: 65px;
    }
    .avatar-in-question-info {
      margin-right: 15px;
    }
    p {
      display: inline-block;
      color: #777;
      margin-right: 10px;
    }
  }
}

.user_ranking, .question_ranking {
  background-color: white;
  width: 90%;
  margin-top: 30px;
  margin-right: 30px;
  padding-bottom: 5px;
  h2 {
    padding: 30px;
    font-size: 16px;
  }
  .rank_in_user {
    margin-left: 15px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #eaeaea;
    .rank_number {
      display: inline-block;
      width: 40px;
      text-align: center;
      color: #a9a9a9;
      font-size: 24px;
      font-weight: bold;
      .trophy {
        padding-left: 2px;
      }
    }
    .rank_in_user_name {
      display: inline-block;
      padding-left: 10px;
      a {
        color: black;
        &:hover {
          color: black;
        }
      }
    }
    .rank_in_user_liker {
      float: right;
      display: inline-block;
      margin-right: 20px;
    }
  }
}

// 検索窓
.question-search {
  background-color: white;
  width: 90%;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  h2 {
    font-size: 16px;
    padding: 30px 30px 10px 30px;
  }
  .glyphicon-search {
    margin-right: 15px;
  }
  .question-search-form {
    width: 70%;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 3px;
    &:focus {
      outline-color: #ed6d35;;
    }
  }
  .question-search-btn {
    background-color: #ed6d35;
    border-radius: 5px;
    color: #fff;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
}

// 質問投稿ページ
.question-form {
  width: 99%;
  margin: 20px auto;
  .title-form {
    height: 40px;
    width: 100%;
    border-radius: 5px;
  }
  .tag-form {
    height: 30px;
    width: 100%;
    border-radius: 5px;
  }
  .content-form {
    height: 400px;
    width: 100%;
    border-radius: 5px;
    resize: none;
  }
  .question-submit-btn {
    width: 120px;
    height: 30px;
    font-weight: bold;
    margin-left: 85%;
    margin-right: 5%;
    background-color: #ff8c00;
    border-radius: 20px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
}

// 質問詳細ページ
.question-info {
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 50px;
  padding: 10px 32px 32px 32px;
  background-color: white;
  .user-name-in-questions-show {
    display: inline-block;
    padding: 0 20px;
    a {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
  .posted-time-in-questions-show {
    display: inline-block;
    color: #777;
    font-size: 18px;
  }
  .question-title-in-questions-show {
    padding-top: 20px;
    font-size: 38px;
  }
  .question-content-in-questions-show {
    font-size: 18px;
  }
  .question-acceptance-state {
    color: #777;
    font-size: 14px;
  }
  .unfavorite-btn {
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
    width: 90%;
    height: 50px;
    background-color: #ed6d35;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    line-height: 50px;
    vertical-align: middle;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
    &:focus {
      outline: 0;
    }
  }
  .favorite-btn {
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
    width: 90%;
    height: 50px;
    background-color: #fff;
    color: #ed6d35;
    border: 3px solid #ed6d35;
    border-radius: 5px;
    font-size: 24px;
    line-height: 50px;
    vertical-align: middle;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
    &:focus {
      outline: 0;
    }
  }
  .create-best-answer-form, .destroy-best-answer-form {
    margin-left: 30px;
    width: 250px;
    display: inline-block;
  }
  .destroy-best-answer-btn, .create-best-answer-btn {
    width: 250px;
    height: 30px;
    font-weight: bold;
    background-color: #ff8c00;
    border-radius: 5px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
  .liker-number {
    // font-family: 'Kreon';
    margin-left: 8px;
    vertical-align: middle;
    line-height: 50px;
  }
  .question-close-link, .question-edit-link, .question-delete-link {
    background-color: #ff8c00;
    border-radius: 5px;
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    text-decoration: none;
    a {
      color: black;
      text-decoration: none;
    }
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
  .question-close-link {
    margin-left: 60%;
    margin-right: 5px;
  }
  .question-edit-link {
    margin: 0 5px;
  }
  .answers {
    .answers-title {
      margin-top: 80px;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: bold;
      padding-left: 30px;
    }
    .answer {
      border-left: 3px solid #ccc;
      width: 95%;
      padding: 0 10px;
      margin: auto;
      .answer-info-wrapper {
        margin-top: 30px;
      }
      .answer-info-left {
        float: left;
        height: 40px;
        p {
          line-height: 40px;
          margin-left: 60px;
        }
        a {
          color: black;
        }
        .avatar-in-answer-info {
          border-radius: 5px;
        }
        .answer-left {
          float: left;
        }
      }
      .answer-info-right {
        float: right;
        margin-right: 40px;
      }
      .answer-content {
        padding: 10px;
        p {
          font-size: 18px;
          padding-left: 20px;
        }
        .unlike-form, .like-form {
          width: 120px;
          display: inline-block;
        }
        .unlike-btn, .like-btn {
          width: 100px;
          height: 30px;
          font-weight: bold;
          background-color: #ff8c00;
          border-radius: 5px;
          &:hover {
            background-color: rgba(237, 109, 53, 0.9);
          }
        }
      }
      .responses {
        border-left: 2px solid #d2b48c;
        padding-left: 10px;
        width: 90%;
        margin: auto;
        .response-info {
          margin-top: 10px;
          height: 40px;
          p {
            line-height: 40px;
            margin-left: 60px;
          }
          .avatar-in-response-info {
            border-radius: 5px;
          }
          .response-left {
            float: left;
          }
        }
        .response-content {
          padding: 10px;
          p {
            font-size: 16px;
          }
        }
        .response-form {
          width: 90%;
          margin: auto;
          margin-bottom: 30px;
          .response-content-form {
            height: 50px;
            width: 90%;
            margin: auto;
            resize: none;
            border-radius: 5px;
          }
          .response-submit-btn {
            width: 120px;
            height: 30px;
            font-weight: bold;
            margin-left: 70%;
            margin-right: 30%;
            background-color: #ff8c00;
            border-radius: 20px;
            &:hover {
              background-color: rgba(237, 109, 53, 0.9);
            }
          }
        }
      }
    }
  }
  .answer-form {
    width: 90%;
    margin: auto;
    .answer-form-title {
      margin-top: 60px;
      margin-bottom: 20px;
    }
    .answer-content-form {
      height: 200px;
      width: 100%;
      margin: auto;
      resize: none;
      border-radius: 5px;
    }
    .answer-submit-btn {
      width: 120px;
      height: 30px;
      font-weight: bold;
      margin-left: 80%;
      margin-right: 20%;
      background-color: #ff8c00;
      border-radius: 20px;
      &:hover {
        background-color: rgba(237, 109, 53, 0.9);
      }
    }
  }
}

// 新規登録ページ
.users-signup {
  margin: auto;
  width: 60%;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .users-signup-content {
    padding-left: 20%;
  }
  .users-signup-form {
    margin-bottom: 10px;
    width: 70%;
  }
  .users-signup-btn {
    width: 120px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #ff8c00;
    border-radius: 20px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
}

// パスワード変更ページ
.users-change-password {
  margin: auto;
  width: 60%;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .users-change-password-content {
    padding-left: 20%;
  }
  .users-change-password-form {
    margin-bottom: 10px;
    width: 70%;
  }
  .users-change-password-btn {
    width: 270px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #ff8c00;
    border-radius: 20px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
}

// パスワードの再設定メール送信ページ
.users-forget-password {
  margin: auto;
  width: 60%;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .users-forget-password-content {
    padding-left: 20%;
  }
  .users-forget-password-form {
    margin-bottom: 10px;
    width: 70%;
  }
  .users-forget-password-btn {
    width: 270px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #ff8c00;
    border-radius: 20px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
}

// アカウント凍結解除メール送信ページ
.users-unlock {
  margin: auto;
  width: 60%;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .users-unlock-content {
    padding-left: 20%;
  }
  .users-unlock-form {
    margin-bottom: 10px;
    width: 70%;
  }
  .users-unlock-btn {
    width: 270px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #ff8c00;
    border-radius: 20px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
}

// アカウント確認メール再送ページ
.users-confirmation {
  margin: auto;
  width: 60%;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .users-confirmation-content {
    padding-left: 20%;
  }
  .users-confirmation-form {
    margin-bottom: 10px;
    width: 70%;
  }
  .users-confirmation-btn {
    width: 200px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #ff8c00;
    border-radius: 20px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
}

// 登録情報編集ページ
.users-edit {
  margin: auto;
  width: 60%;
  h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
  }
  .avatar-in-users-edit-page {
    text-align: center;
    margin-bottom: 20px;
  }
  .users-edit-content {
    padding-left: 20%;
  }
  .users-edit-avatar-form {
    margin-bottom: 20px;
  }
  .users-edit-form {
    margin-bottom: 10px;
    width: 70%;
  }
  .users-edit-btn {
    width: 120px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #ff8c00;
    border-radius: 20px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
  .users-delete-btn {
    background-color: #ff4500;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
  h3 {
    border-top: 1px solid #eaeaea;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

// ログインページ
.users-signin {
  margin: auto;
  width: 60%;
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .users-signin-content {
    padding-left: 20%;
  }
  .users-signin-form {
    margin-bottom: 10px;
    width: 70%;
  }
  .users-signin-btn {
    width: 120px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #ff8c00;
    border-radius: 20px;
    &:hover {
      background-color: rgba(237, 109, 53, 0.9);
    }
  }
}

// マイページ
.my-page {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  .my-page-left {
    // float: left;
    min-height: 500px;
    // width: 30%;
    .avatar-in-my-page {
      border-radius: 25px;
    }
    .glyphicon-asterisk {
      margin-top: 5px;
    }
    .color-999 {
      color: #999;
    }
  }
  .my-page-right {
    float: right;
    // width: 70%;
    .my-questions {
      min-height: 500px;
      background-color: white;
      padding: 20px;
      .my-questions-title {
         h4 {
           display: inline-block;
           width: 250px;
           margin:0 10px;
         }
         a {
           color: black;
         }
         .my-questions-active {
           height: 40px;
           padding-top: 10px;
           border-radius: 4px 4px 0 0;
           border-top: 2px solid #ccc;
           border-left: 2px solid #ccc;
           border-right: 2px solid #ccc;
         }
       }
      .my-question {
        height: 83px;
        margin-top: 15px;
        padding: 16px;
        border-top: 1px solid #eaeaea;
        .question-left {
          display: inline-block;
          float: left;
          width: 65px;
        }
        .avatar-in-question-info {
          margin-right: 15px;
        }
        p {
          display: inline-block;
          color: #777;
          margin-right: 10px;
        }
        a {
          font-size: 17px;
          font-weight: bold;
          color: black;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

/* ページネーションの色 */
.pagination > li > a,
.pagination > li >span {
      color:DarkSlateGray;
      background-color:#fff;
      border:1px solid #ff8c00;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
      color:DarkSlateGray;
      background-color:#ff8c00;
      border-color:#ff8c00;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
      color:DarkSlateGray;
      background-color:#ff8c00;
      border-color:#ff8c00;
}

.alert, .notice {
  background-color: #ed6d35;
  color: #fff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
  padding-left: 100px;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .show-in-desktop {
    display: none;
  }
  header {
    position: relative;
    .user-name-in-device {
      position: absolute;
      top: 0px;
      left: 40%;
      font-size: 14px;
    }
    .navbar-fixed-top {
      margin-bottom: 0px;
    }
    .navbar-nav {
      margin-bottom: 0px;
      width: 250px;
      li {
        display: inline-block;
        width: 60px;
        margin: 0;
        a {
          display: inline-block;
          font-size: 12px;
          padding: 0 5px;
          margin: 0;
          width: 60px;
        }
      }
    }
    #logo {
      width: 100px;
    }
    .navbar-guest {
      padding-left: 100px;
    }
    .navbar-logged-in {
      visibility: hidden;
      font-size: 10px;
      width: 150px;
      padding-left: 30px;
      li {
        width: 60px;
        display: inline-block;
        a {
          display: inline-block;
          width: 60px;
        }
      }
      .dropdown-toggle {
        width: 90px;
      }
      .dropdown {
        display: none;
        width: 90px;
        ul, .dropdown-menu {
          width: 90px;
          li {
            width: 90px;
            .dropdown-menu-list {
              font-size: 10px;
            }
          }
        }
      }
    }
    .account-menu {
      display: block;
      height: 30px;
      width: 100%;
      padding: 0;
      margin: auto;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      background-color: #ed6d35;
      position: relative;
      .account-link {
        width: 20%;
        display: inline-block;
        height: 30px;
        font-size: 8px;
        line-height: 30px;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        border-right: 1px solid black;
      }
      .account-link1 {
        left: 0%;
        border-left: 1px solid black;
      }
      .account-link2 {
        left: 20%;
      }
      .account-link3 {
        left: 40%;
      }
      .account-link4 {
        left: 60%;
      }
      .account-link5 {
        left: 80%;
      }
    }
  }
  .welcome {
    background: url("q&a_app.jpg") center;
    background-size: auto 500px;
    p {
      font-size: 28px;
    }
  }
  .questions {
    margin-top: 30px;
    margin-left: 0px;
    .questions-title {
      width: 100%;
      padding: 5px;
    }
    .question {
      .question-link {
        font-size: 14px;
        height: 42px;
      }
    }
  }
  .question-search, .user_ranking, .question_ranking {
    margin: 0px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .new_question {
    margin-top: 40px;
    .question-submit-btn {
      margin: 5px 0px;
      padding: 0px;
      width: 98%;
    }
  }
  .users-signin {
    width: 100%;
    .users-signin-content {
      // margin: auto;
      padding-left: 0px;
      text-align: center;
      a {
        font-size: 12px;
      }
    }
  }
  .alert, .alert-notice, .alert-alert {
    padding-top: 30px;
    padding-left: 0px;
    text-align: center;
  }
  .users-edit {
    width: 100%;
    margin: 0 5px;
    .user_avatar {
      width: 100%;
      margin-left: 50px;
    }
    .users-edit-content {
      padding: 0px;
      text-align: center;
    }
    .users-edit-btn {
      width: 95%;
    }
    .users-delete-btn {
      background-color: #ff4500;
    }
  }
  .question-info {
    margin: 30px 0 0 0;
    // padding: 0 15px;
    .user-name-in-questions-show {
      padding-top: 10px;
      font-size: 18px;
    }
    h1 {
      margin-top: 40px;
    }
  }
  .question-info .answer-form .answer-submit-btn {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .my-page {
    width: 100%;
    margin: 0;
    .my-page-left {
      height: 100%;
      min-height: 100%;
      padding-top: 30px;
      padding-bottom: 20px;
      text-align: center;
      img {
        width: 120px;
        height: 120px;
        margin: 0 30%;
      }
    }
    .my-page-right {
      width: 100%;
      .my-questions {
        width: 100%;
        margin: 0px;
        padding: 0px;
        .my-questions-title {
          width: 100%;
          height: 40px;
          position: relative;
          h4 {
            display: inline-block;
            width: 46%;
            font-size: 10px;
            text-align: center;
            border: 3px solid #ed6d35;
            border-radius: 3px;
          }
          .my-questions-active {
            border-bottom: 1px solid #ccc;
            background-color: #ed6d35;
            color: white;
            font-size: 14px;
            padding-top: 0px;
          }
          .my-questions1 {
            position: absolute;
            top: 0;
            left: 0;
            height: 40px;
            line-height: 40px;
            margin-left: 3%;
            margin-right: 1%;
          }
          .my-questions2 {
            position: absolute;
            top: 0;
            left: 50%;
            height: 40px;
            padding-right: 15px;
            line-height: 40px;
            text-align: center;
            margin-left: 1%;
            margin-right: 3%;
          }
        }
        .my-question {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
  .col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .questions-title-in-home {
    padding: 5px 20px !important;
  }
  .question-in-home {
    padding: 16px 31px !important;
  }
  .users-signup {
    text-align: center;
    width: 100%;
    margin: 0px;
    .users-signup-content {
      padding-left: 0px;
    }
    .users-signup-btn {
      width: 90%;
    }
    a {
      font-size: 12px;
    }
  }
  .users-forget-password {
    width: 100%;
    margin: 0px;
    text-align: center;
    h2 {
      font-size: 20px;
    }
    .users-forget-password-content {
      width: 100%;
      padding: 0px;
    }
    a {
      font-size: 12px;
    }
  }
  .users-confirmation {
    width: 100%;
    margin: 0px;
    text-align: center;
    h2 {
      font-size: 20px;
    }
    .users-confirmation-content {
      width: 100%;
      padding: 0px;
    }
    a {
      font-size: 12px;
    }
  }
  .users-unlock {
    width: 100%;
    margin: 0px;
    text-align: center;
    h2 {
      font-size: 20px;
    }
    .users-unlock-content {
      width: 100%;
      padding: 0px;
    }
    a {
      font-size: 12px;
    }
  }
  .users-forget-password-btn, .users-unlock-btn, .users-signin-btn, .users-confirmation-btn {
    width: 90% !important;
  }
  #error_explanation h2 {
    text-align: center;
    font-size: 10px;
    padding: 0px;
  }
}
