<!DOCTYPE html>
<html>
  <head>
    <title>MyApps</title>
    <%= render 'layouts/head_setting' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
